:root{
    --pipe-speed: 3s;
    --clounds-speed: 20s;
    --cor-chao: rgb(35, 160, 35);
    --cor-1-gradient: #87ceeb;
    --cor-2-gradient: #e0f6ff;
    --fonte-pont: 'New Super Mario Font U', sans-serif;
    --cor-contorno: black;
    --cor-fonte-pontuacao: white;
    --cor-fonte-new-game: red;
    --cor-sombra: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid var(--cor-chao);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(var(--cor-1-gradient) ,var(--cor-2-gradient));
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -100px;
    animation: pipe-animation var(--pipe-speed) infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    top: 1em;
    width: 550px;
    animation: clouds-animation var(--clounds-speed) infinite linear;
}

#pontuacao {
    position: absolute;
    right: 5px;
    font-family: var(--fonte-pont);
    color: var(--cor-fonte-pontuacao);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--cor-contorno);
    font-size: 30px;
    text-align: center;
}

#new-game{
    position: absolute;
    display: flex;
    top: 20%;
    right: 50%;
    font-family: var(--fonte-pont);
    font-size: 30px;
    color: var(--cor-fonte-new-game);
    box-shadow: 2px 2px 5px var(--cor-sombra);
}

@keyframes pipe-animation {
    from {
        right: 0;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}